<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="adminimageupload_image_grid_data_source" xsi:type="string">Atharva\Imageupload\Model\ResourceModel\Image\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Atharva\Imageupload\Model\ResourceModel\Image\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">atharva_imageupload</argument>
            <argument name="resourceModel" xsi:type="string">Atharva\Imageupload\Model\ResourceModel\Image</argument>
        </arguments>
    </virtualType>
</config>